body {
  background-color: #232323;
}

.wrapper {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 4em);
  grid-template-rows: repeat(4, 4em);
  gap: 1em;
  justify-self: center;
  color: #fff;
  justify-content: center;
}

button {
  border-radius: 50%;
  color: whitesmoke;
  border: none;
  font-size: 1.1em;
  font-family: Georgia, serif;
  background-color: transparent;
  background-color: rgba(207, 207, 200, 0.5);
  cursor: pointer;
}

button:hover {
  background-color: rgba(210, 210, 210, 0.6);
}

.grid-wrapper {
  display: grid;
  margin: 3em 0;
}

/* .error-msg {
    justify-self: center;
    color: whitesmoke;
    font-size: 2em;
    margin-top: 1em;
} */

.zero {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}